<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Priorities</title>
    <script type="text/javascript" src="js/vue.global.prod.js"></script>
    <link rel="stylesheet" href="css/pico.min.css">
  </head>
  <body>
    <main class="container">
      <div>
        <h1>Priorities</h1>
        <p>This is a tool for prioritizing a list of items by choosing one of each pair of options.</p>
      </div>
      <div id="app" class="grid">
        <div id="options">
          <p>
            <i>Type or paste options here, one to a line</i>
          </p>
          <textarea cols="30" id="" name="" rows="10" v-model="options">
          </textarea>
        </div>
        <div id="selections">
          <p v-if="selectionsLength"><i>Choose preferences</i></p>
          <article v-for="pair of buttons">
            <button :class="{ secondary: pair.button0 !== pair.choice }" @click="choose(pair.selection, 0)">{{ pair.button0 }}</button> or <button :class="{ secondary: pair.button1 !== pair.choice }" @click="choose(pair.selection, 1)">{{ pair.button1 }}</button>
          </article>
        </div>
        <div id="sortedoptions">
          <p v-if="allChosen"><i>Scored options</i></p>
            <template v-if="allChosen" v-for="score of sortedOptions" :key="score">
              <p v-if="allChosen"><i>{{ score[0] }}</i>: <span v-if="allChosen" v-for="(option, idx) in score[1]"><span v-if="idx != 0">&nbsp;</span><mark>{{ option }}</mark></span></p>
            </template>
        </div>
      </div>
    </main>
  </body>
  <script>
    var app = Vue.createApp({
      data() {
        return {
          options: "",
          selections: {}
        }
      },
      methods: {
        arrayToPairStrings(ary) {
          let pairs = [];
          for (let i = 0 ; i < ary.length - 1 ; i++) {
            for (let j = i + 1 ; j < ary.length ; j++) {
              pairs.push(JSON.stringify([ary[i], ary[j]]));
            }
          }
          return pairs;
        },
        choose(selection, idx) {
          let pair = JSON.parse(selection);
          this.selections[selection] = pair[idx];
        },
        optionsToList(o) {
          return [...new Set(o.split("\n").filter(item => item !== ""))]
        },
      },
      watch: {
        options(newOptions, oldOptions) {
          if (!newOptions) {
            this.selections = {};
          } else {
            let newPairStrings = this.arrayToPairStrings(this.optionsToList(newOptions));
            let oldPairStrings = this.arrayToPairStrings(this.optionsToList(oldOptions));
            let newSelections = {};
            for (let pairString of oldPairStrings) {
              if (newPairStrings.indexOf(pairString) > -1) {
                newSelections[pairString] = this.selections[pairString];
              }
            }
            for (let pairString of newPairStrings) {
              if (oldPairStrings.indexOf(pairString) === -1) {
                newSelections[pairString] = "";
              }
            }
            this.selections = newSelections;
          }
        }
      },
      computed: {
        sortedOptions() {
          let options = {};
          for (let option of this.optionsToList(this.options)) {
            let score = Object.values(this.selections).filter(s => s === option).length.toString();
            if (score in options) {
              options[score].push(option);
            } else {
              options[score] = [option];
            }
          }
          return Object.entries(options).toSorted().toReversed();
        },
        allChosen() {
          return Object.keys(this.selections).length && Object.values(this.selections).every(s => s !== "");
        },
        selectionsLength() {
          return Object.keys(this.selections).length;
        },
        buttons() {
          let buttons = [];
          for (let selection of Object.entries(this.selections)) {
            let choices = JSON.parse(selection[0]);
            buttons.push({
              "selection": selection[0],
              "button0": choices[0],
              "button1": choices[1],
              "choice": selection[1]
            });
          }
          return buttons;
        },
      }
    })
    app.mount("#app")
  </script>
</html>
